@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2? family=Sriracha&display=swap');

* { margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Sriracha', cursive;
}

/*Cabeçalho*/
header {
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
}

header h1 {
    text-align: center;
    color: white;
    font-family: 'Passion One',cursive;
    font-size: 60px;
}

header h2 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header a {
    color: gold;
    text-decoration: none;
}

/*Corpo*/
section.corpo p {
    font-size: 26px;
    line-height: 2em;
    width: 345px;
    margin-top: 50px;
    margin-bottom: 60px;
}

section.pri {
    height: 400px;
    background-image: url(img/background001.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 30px;
    padding-bottom: 100px;
}

.cont {
    color: white;
    background-color: rgba(0, 0, 0, 0.500);
    font-size: 26px;
    line-height: 2em;
    width: 345px;
}


section.seg {
    height: 400px;
    background-image: url(img/background002.jpg);
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    padding-top: 30px;
    padding-bottom: 100px;
}

/*Rodapé do site*/
footer {
    background-color: black;
    text-align: center;
    font-size: 1.2em;
}

footer p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
}

footer a {
    color: gold;
    text-decoration: none;
}